<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://businessaircraft.bombardier.com/sites/default/files/styles/interactive_visualization_tool_retina_3200_desktop/public/ivt/hotspots/backgrounds/2022-02/DDBA0713_FamilyTarmacOrlando2021_V10_6ac_4800X2512.jpg?itok=-MmrClGb);">
  <%= render "shared/navbar" %>
  <div class="landing-stats container d-flex justify-content-around align-items-center">
    <div class="p-2 flex-column text-center">
        <h1 class="h1-text-large">Global</h1>
        <h2>FLEET</h2>
    </div>
    <div class="p-2 flex-column text-center">
        <h1 class="h1-text-large"><%= @aircrafts.count %></h1>
        <h2>AIRCRAFTS</h2>
    </div>
    <div class="p-2 flex-column text-center">
      <a class="text-decoration-none" href="/bookings">
        <h1 class="h1-text-large"><%= @bookings.count %></h1>
        <h2>BOOKINGS</h2>
      </a>
    </div>
  </div>
</div>
<div class="container index mt-3">
  <div class="row">
    <div class="col-12">

      <h1>
        Aircraft Fleets
      </h1>

    </div>
  </div>

  <div class="row">
    <div class="col">
        <h4>Select an aircraft</h4>
    </div>
  </div>

  <%# This is card for index page %>
  <% @users_aircrafts = @aircrafts.select { |aircraft| aircraft.user == current_user } %>
  <% @other_aircrafts = @aircrafts.reject { |aircraft| aircraft.user == current_user } %>

  <div class="row">
    <% @other_aircrafts.each do |aircraft| %>
      <div class="col-md-4">
          <%= link_to aircraft_path(aircraft), class: "text-decoration-none text-dark" do %>

            <div class="flat-card align-items-center ">
              <div class="flat-card-image" style="background-image: url('<%= aircraft.picture_url %>')"></div>
              <div class="flat-card-content">
                <div class="flat-card-title">
                  <h4><%= aircraft.model %></h4>
                </div>
                  <div class="test" data-controller="toggle">
                    <%# <button data-action="click->toggle#fire" class="button-46" style="color: blue">Show/Hide Description</button> %>
                    <%# <div class="" data-toggle-target="togglableElement"> %>
                    <p><%= aircraft.description %></p>

                    <%# </div> %>
                    <%# <p data-action="click->toggle#fire">Collapse/Expand</p> %>
                  </div>

              </div>

              <div class="flat-card-actions d-flex justify-content-end">
                <div class="flex">
                  <div class="flex align-items-center">
                    <i class="fa-solid fa-people-line"></i>
                    <span><%= aircraft.capacity %></span>
                  </div>
                  <div class="flex align-items-center ms-3">
                    <i class="fa-solid fa-dollar-sign"></i>
                    <span> <%= sprintf('%.2f', aircraft.price )%>/h</span>
                  </div>
                </div>
              </div>

            </div>

          <% end %>
        </div>
      <% end %>
  </div>

  <div class="row">
    <div class="col-12">

      <h1>
        Your Aircraft Fleets
        <% if user_signed_in? %>
        <%= link_to "+", new_aircraft_path, class: "ms-3 text-success text-decoration-none" %>
        <% end %>
        <h4>You have <%= @users_aircrafts.count %> aircrafts</h4>
      </h1>

    </div>
  </div>

  <div class="row">
    <% @users_aircrafts.each do |aircraft| %>
      <div class="col-md-4">

          <%= link_to aircraft_path(aircraft), class: "text-decoration-none text-dark" do %>

            <div class="flat-card align-items-center ">
              <div class="flat-card-image" style="background-image: url('<%= aircraft.picture_url %>')"></div>
              <div class="flat-card-content">
                <div class="flat-card-title">
                  <h4><%= aircraft.model %></h4>
                </div>
                  <div class="test" data-controller="toggle">
                    <%# <button data-action="click->toggle#fire" class="button-46" style="color: blue">Show/Hide Description</button> %>
                    <%# <div class="" data-toggle-target="togglableElement"> %>
                    <p><%= aircraft.description %></p>

                    <%# </div> %>
                    <%# <p data-action="click->toggle#fire">Collapse/Expand</p> %>
                  </div>

              </div>

              <div class="flat-card-actions d-flex justify-content-end">
                <div class="flex">
                  <div class="flex align-items-center">
                    <i class="fa-solid fa-people-line"></i>
                    <span><%= aircraft.capacity %></span>
                  </div>
                  <div class="flex align-items-center ms-3">
                    <i class="fa-solid fa-dollar-sign"></i>
                    <span> <%= sprintf('%.2f', aircraft.price )%>/h</span>
                  </div>
                </div>
              </div>

            </div>

          <% end %>
        </div>
    <% end %>
  </div>
</div>
