<div class="d-flex flex-column bg-light py-2 border border-dark shadow-lg m-4">
  <br>
  <div class="p-2 d-flex justify-content-center">
    <h2>Aircraft Model: <%= @aircraft.model %></h2>
  </div>
  <div class="p-5 d-flex justify-content-center">
    <img  src=<%=@aircraft.picture_url%> height="300px" class="py-3">
    <div class="p-4 d-flex flex-column justify-content-center">
      <h5><%= @aircraft.description %></h5>
      <br>
      <h5>Capacity: <%= @aircraft.capacity %></h5>
      <h5> Rate per hour: $<%= @aircraft.price.round.to_fs(:delimited) %></h5>
      <br>
      <p>
        Owned By: <%= @aircraft.user.email %>
        <% if current_user == @aircraft.user %>
        (You)
        <% end %>
      </p>
      <div class="flat-card-actions d-flex justify-content-end">
          <div class="border-dark my-2 mx-5">
        <% if user_signed_in? %>
            <%= link_to "Add Booking", new_aircraft_booking_path(@aircraft),
            class: "button-35 mx-1", style:"color: green;"%>
            <% if current_user == @aircraft.user %>
              <%= link_to "Edit", edit_aircraft_path(@aircraft), class: "button-35  mx-1", style:"color: orange;"%>
              <%= link_to "Remove", aircraft_path(@aircraft),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                  class: "btn btn-outline-danger  mx-1", style:"color: red;"
              %>
            <% end %>
        <% end %>
        <%= link_to "Back to all aircrafts", aircrafts_path, class: "button-35  mx-1" %>
          </div>
      </div>
    </div>
  </div>

</div>
