<div class="container text-center bg-light py-2 border border-dark shadow-lg p-3 mb-5 bg-white rounded">
  <h1>Aircraft Model: <%= @aircraft.model %></h1>
  <img  src=<%=@aircraft.picture_url%> height="300px" class="py-3">
  <h4><%= @aircraft.description %></h4>
  <h2>Capacity: <%= @aircraft.capacity %></h2>
  <h2> Rate per hour: $<%= @aircraft.price.round.to_fs(:delimited) %></h2>

  <div class="flat-card-actions d-flex justify-content-center">
    <% if user_signed_in? %>
    <div class="border-dark my-3">
      <%= link_to "Add Booking", new_aircraft_booking_path(@aircraft), class: "ms-3 text-success text-decoration-none" %>
      <%= link_to "Edit", edit_aircraft_path(@aircraft), class: "ms-3 text-warning text-decoration-none" %>
      <%= link_to "Remove", aircraft_path(@aircraft),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
          class: "ms-3 text-danger text-decoration-none"
      %>
      <%= link_to "Back to all aircrafts", aircrafts_path, class: "ms-3 text-primary text-decoration-none border-dark my-3" %>
    </div>
    <% else %>
      <%= link_to "Back to all aircrafts", aircrafts_path, class: "ms-3 text-primary text-decoration-none border-dark my-3" %>
    <% end %>
  </div>
</div>
