<div class="d-flex flex-column bg-light py-2 border border-dark shadow-lg m-4">
  <br>
  <div class="p-2 d-flex justify-content-center">
    <h2>Aircraft Model: <%= @aircraft.model %></h2>
  </div>
  <div class="p-5 d-flex justify-content-center">
    <img  src=<%=@aircraft.picture_url%> height="300px" class="py-3">
    <div class="p-4">
      <br>
      <br>
      <h5><%= @aircraft.description %></h5>
      <br>
      <h5>Capacity: <%= @aircraft.capacity %></h5>
      <h5> Rate per hour: $<%= @aircraft.price.round.to_fs(:delimited) %></h5>
    </div>
  </div>
  <div class="flat-card-actions d-flex justify-content-center p-2">
    <%# <%= link_to "More info", aircraft_path(aircraft) %>
    <div class="border-dark my-3 ">
      <%= link_to "Add Booking", new_aircraft_booking_path(@aircraft), class: "btn btn-outline-success" %>
      <%= link_to "Edit", edit_aircraft_path(@aircraft), class: "btn btn-outline-warning" %>
      <%= link_to "Remove", aircraft_path(@aircraft),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
          class: "btn btn-outline-danger"
      %>
      <%= link_to "Back to all aircrafts", aircrafts_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>
