<div class="container text-center bg-light py-2 border border-dark shadow-lg p-3 mb-5 bg-white rounded  justify-content-center">
  <a class="float-start" href="javascript:history.back()"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
</svg></a>
  <h2>Aircraft Model: <%= @booking.aircraft.model %></h1>
  <img  src=<%=@booking.aircraft.picture_url%> height="300px" class="py-3">
  <h2>Departure Time: <%= @booking.departure_time %></h2>
  <h1><%= "#{@booking.takeoff.upcase} ✈ #{@booking.landing.upcase}"%></h2>
  <div class="flat-card-actions">
    <%= link_to "Edit", edit_booking_path(@booking), class:"button-35", style:"color: orange"%>
    <%= link_to "Cancel Booking", booking_path(@booking),
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"button-35", style:"color: red"
    %>
    <%= link_to "All bookings", bookings_path, class:"button-35"%>
  </div>
</div>
